{% extends 'index.html' %}

{% block content %}

{% if request.session.activo%}
{% block bread%}
        <ul class="breadcrumb">
            {% if request.session.departamento%}
            <li>Departamento:<i>{{ request.session.departamento.nombre }}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.municipio%}
            <li>Municipio:<i> {{request.session.municipio.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.comunidad%}
            <li>Comunidad:<i> {{request.session.comunidad.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.entrevistado%}
            <li>Entrevistado: <i> {{ request.session.entrevistado.nombre }}</i></li>
            {%endif%}
        </ul>
{%endblock%}
{%endif%}

numeros de casos: {{casos}} familias <div id="vergrafo" class="derecha"><a href="/disponibilidad/grafos/">Ver Gráficos</a></div><br>

<table class="table table-striped table-bordered">
<caption>Tabla Disponibilidad de alimentos</caption>
<thead>
         <tr>
				 <th>Consumidores</th>
				 <th>#</th>
                 <th>Alimentos</th>
                 <th>Total(qq)</th>
				 <th>Promedio por Familia (qq)</th>
         </tr>
   </thead>
<tr>
				 <td>Total de adultos</td>
                 <td>{{ datos.total_adulto }}</td>
                 <td>Maiz</td>
				 <td>{{ datos.total_maiz }}</td>
				 <td>{{ datos.prom_maiz|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total niños/niñas</td>
                 <td>{{ datos.total_ninos }}</td>
                 <td>Frijol</td>
				 <td>{{ datos.total_frijol }}</td>
				 <td>{{ datos.prom_frijol|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total vacas</td>
                 <td>{{ datos.total_vacas }}</td>
                 <td>sorgo</td>
				 <td>{{ datos.total_sorgo }}</td>
				 <td>{{ datos.prom_sorgo|floatformat:2 }}</td>
</tr>
<tr>
				 <td>Total cerdos</td>
                 <td>{{ datos.total_cerdos }}</td>
                 <td></td>
				 <td></td>
				 <td></td>
</tr>
<tr>
				 <td>Total gallinas</td>
                 <td>{{ datos.total_gallinas }}</td>
                 <td></td>
				 <td></td>
				 <td></td>
</tr>
</table>

<table class="table table-striped table-bordered">
<caption>Tabla Disponibilidad de alimentos</caption>
<thead>
         <tr>
				 <th>Criterios</th>
				 <th>Disponibilidad en dias</th>
         </tr>
   </thead>
<tr>
				 <td>El Maíz es consumido solamente por humanos</td>
                 <td>{{ datos.criterio1|floatformat:2 }}</td>
</tr>
<tr>
				 <td>El Frijol es consumido por humanos</td>
                 <td>{{ datos.criterio2|floatformat:2 }}</td>
</tr>
<tr>
				 <td>El Maíz y Sorgo son consumidos por humanos y animales</td>
                 <td>{{ datos.criterio3|floatformat:2 }}</td>                 
</tr>
</table>    
{% endblock %}
