{% extends 'index.html' %}

{% block menu%} {%endblock%}

{% block content %}

<table class="table table-striped table-bordered">
<caption>Municipios</caption>
<thead>
            <tr>
                <th>Año</th>
                <th>Departamentos</th>
                <th>Municipios</th>
                <th>Cantidad</th>
               
            </tr>
        </thead>
        <tbody>
            {%for algo in munis %}
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
                <td>{{algo.2}}</td>
                <td>{{algo.3}}</td>
                
            </tr>
           {%endfor%}
        </tbody>
</table>

<table class="table table-striped table-bordered">
<caption>Encuestas por años</caption>
<thead>
            <tr>
                <th>Año</th>
                <th>Cantidad</th>
               
            </tr>
        </thead>
        <tbody>
            {%for algo in anio_lista %}
                <td>{{algo.0}}</td>
                <td>{{algo.1}}</td>
            </tr>
           {%endfor%}
        </tbody>
</table>

{% endblock %}
