{% extends 'index.html' %}

{% block content %}
{% if request.session.activo%}
{% block bread%}
        <ul class="breadcrumb">
            {% if request.session.departamento%}
            <li>Departamento:<i>{{ request.session.departamento.nombre }}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.municipio%}
            <li>Municipio:<i> {{request.session.municipio.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.comunidad%}
            <li>Comunidad:<i> {{request.session.comunidad.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.entrevistado%}
            <li>Entrevistado: <i> {{ request.session.entrevistado.nombre }}</i></li>
            {%endif%}
        </ul>
{%endblock%}
{%endif%}

Números de casos: {{ casos }} familias
<div class="page-header">
  <h2>Estado de nutrición <small>Gráficas</small></h2>
</div>
<img class="img-polaroid" src={{url}} /> <img class="img-polaroid" src={{url1}} /> 
<br><br><br>
{% endblock %}
