<html>
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    	<title>{% block title %}Sondeo sobre Impacto de la sequia en Nicaragua{% endblock %}</title>
	</head>
{% block content %}
<table border=1>
	<caption>Tabla completa con toda las encuestas</caption>
	<tr>
		<th>nombre</th>
		<th>comunidad</th>
		<th>primera producto</th>
		<th>primera area sembrada</th>
		<th>primera area cosechada</th>
		<th>primera produccion</th>
		<th>razon</th>
		<th>primera producto</th>
		<th>primera area sembrada</th>
		<th>primera area cosechada</th>
		<th>primera produccion</th>
		<th>razon</th>
		<th>primera producto</th>
		<th>primera area sembrada</th>
		<th>primera area cosechada</th>
		<th>primera produccion</th>
		<th>razon</th>
		<th>postrera producto</th>
		<th>postrera area sembrada</th>
		<th>postrera area cosechada</th>
		<th>postrera produccion</th>
		<th>razon</th>
		<th>postrera producto</th>
		<th>postrera area sembrada</th>
		<th>postrera area cosechada</th>
		<th>postrera produccion</th>
		<th>razon</th>
		<th>postrera producto</th>
		<th>postrera area sembrada</th>
		<th>postrera area cosechada</th>
		<th>postrera produccion</th>
		<th>razon</th>
		<th>dispo adultos casa</th>
		<th>dispo niños casa</th>
		<th>dispo vacas</th>
		<th>dispo cerdos</th>
		<th>dispo gallinas</th>
		<th>Maíz disponible</th>
		<th>Frijol disponible</th>
		<th>Sorgo disponible</th>
		<th>Dinero</th>

</tr>
		{% for fila in datos %}
		<tr>
			{% for cosito in fila %}
				<td>{{ cosito }} </td>
            {% endfor %}
		</tr>
		{% endfor %}
</table>

{% endblock %}
</body>
</html>
