{% extends 'index.html' %}

{% block content %}

{% if request.session.activo%}
{% block bread%}
        <ul class="breadcrumb">
            {% if request.session.departamento%}
            <li>Departamento:<i>{{ request.session.departamento.nombre }}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.municipio%}
            <li>Municipio:<i> {{request.session.municipio.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.comunidad%}
            <li>Comunidad:<i> {{request.session.comunidad.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.entrevistado%}
            <li>Entrevistado: <i> {{ request.session.entrevistado.nombre }}</i></li>
            {%endif%}
        </ul>
{%endblock%}
{%endif%}

numeros de casos: {{casos}} familias   <div id="vergrafo" class="derecha"><a href="/nutricion/grafos/">Ver Gráficos</a></div><br>
<table class="table table-striped table-bordered">
<caption>Tabla Estado de Nutrición niños</caption>
<thead>
         <tr>
				 <th>Edad</th>
				 <th>Normal</th>
                 <th>Riesgos de desnutrición</th>
                 <th>Desnutrición</th>
				 <th>No sabe</th>
         </tr>
</thead>
<tr>
				 <td>1-5 años</td>
                 <td>{{ lista.0.2 }}</td>
                 <td>{{ lista.4.2 }}</td>
				 <td>{{ lista.2.2 }}</td>
				 <td>{{ lista.6.2 }}</td>
</tr>
<tr>
				 <td>6-10 años</td>
                 <td>{{ lista.0.3 }}</td>
                 <td>{{ lista.4.3 }}</td>
				 <td>{{ lista.2.3 }}</td>
				 <td>{{ lista.6.3 }}</td>
</tr>
<tr>
				 <td>11-15 años</td>
                 <td>{{ lista.0.4 }}</td>
                 <td>{{ lista.4.4 }}</td>
				 <td>{{ lista.2.4 }}</td>
				 <td>{{ lista.6.4 }}</td>
</tr>
</table>

<table class="table table-striped table-bordered">
<caption>Tabla Estado de Nutrición niñas</caption>
<thead>
         <tr>
				 <th>Edad</th>
				 <th>Normal</th>
                 <th>Riesgos de desnutrición</th>
                 <th>Desnutrición</th>
				 <th>No sabe</th>
         </tr>
</thead>
<tr>
				 <td>1-5 años</td>
                 <td>{{ lista.1.2 }}</td>
                 <td>{{ lista.5.2 }}</td>
				 <td>{{ lista.3.2 }}</td>
				 <td>{{ lista.7.2 }}</td>
</tr>
<tr>
				 <td>6-10 años</td>
                 <td>{{ lista.1.3 }}</td>
                 <td>{{ lista.5.3 }}</td>
				 <td>{{ lista.3.3 }}</td>
				 <td>{{ lista.7.3 }}</td>
</tr>
<tr>
				 <td>11-15 años</td>
                 <td>{{ lista.1.4 }}</td>
                 <td>{{ lista.5.4 }}</td>
				 <td>{{ lista.3.4 }}</td>
				 <td>{{ lista.7.4 }}</td>
</tr>
</table>
{% endblock %}
