{% extends 'index.html' %}

{% load ayuda %}

{% block content %}
{% if request.session.activo%}
{% block bread%}
        <ul class="breadcrumb">
            {% if request.session.departamento%}
            <li>Departamento:<i>{{ request.session.departamento.nombre }}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.municipio%}
            <li>Municipio:<i> {{request.session.municipio.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.comunidad%}
            <li>Comunidad:<i> {{request.session.comunidad.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.entrevistado%}
            <li>Entrevistado: <i> {{ request.session.entrevistado.nombre }}</i></li>
            {%endif%}
        </ul>
{%endblock%}
{%endif%}

numeros de casos: {{casos}} familias   <div id="vergrafo" class="derecha"><a href="/perdida/grafos/">Ver Gráficos</a></div><br>

<table class="table table-striped table-bordered">
<caption>Tabla Perdida de Primera</caption>
<thead>
         <tr>
				 <th>Alimentos</th>
				 <th>Area cosechada (Mz)</th>
                 <th>Area perdida (Mz)</th>
                 <th>Area planificada a sembrar (Mz)</th>
                 <th>Rendimiento (qq/Mz)</th>
                 <th>Producción (qq)</th>
                 <th>Area sembrada (Mz)</th>
         </tr>
</thead>
<body>
    {%for k,v in dicc_primera.items%}
    <tr>
        <td>{{k}}</td>
        {%for ok,ov in v.items%}
            <td>{{ov|floatformat:2}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tr>
</body>
</table>

<table class="table table-striped table-bordered">
<caption>Tabla Perdida de Postrera</caption>
<thead>
         <tr>
				 <th>Alimentos</th>
				 <th>Area cosechada (Mz)</th>
                 <th>Area perdida (Mz)</th>
                 <th>Area planificada a sembrar (Mz)</th>
                 <th>Rendimiento (qq/Mz)</th>
                 <th>Producción (qq)</th>
                 <th>Area sembrada (Mz)</th>
         </tr>
</thead>
<body>
    {%for k,v in dicc_postrera.items%}
    <tr>
        <td>{{k}}</td>
        {%for ok,ov in v.items%}
            <td>{{ov|floatformat:2}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tr>
</body>
</table>

<table class="table table-striped table-bordered">
<caption>Tabla Perdida de Apante</caption>
<thead>
         <tr>
				 <th>Alimentos</th>
				 <th>Area cosechada (Mz)</th>
                 <th>Area perdida (Mz)</th>
                 <th>Area planificada a sembrar (Mz)</th>
                 <th>Rendimiento (qq/Mz)</th>
                 <th>Producción (qq)</th>
                 <th>Area sembrada (Mz)</th>
         </tr>
</thead>
<body>
    {%for k,v in dicc_apante.items%}
    <tr>
        <td>{{k}}</td>
        {%for ok,ov in v.items%}
            <td>{{ov|floatformat:2}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tr>
</body>
</table>
{% endblock %}
