#header a {
  text-decoration: none;
}

 .mover {
 	margin: -48px 4px 8px 118px;
 	padding: 0px 6px 24px 3px;
 	font-size: 25px;
 	color: green;
 }

 .piepagina {
 	margin: 7px 2px 3px 381px;
 	padding: 1px 2px 3px 4px;
 }

 .piepagina a {
 	color: green;
 }

/* Agregado por Byron */

#vergrafo{
width:110px;
height:20px;
text-align:right;
margin-right:25px;
background:url(../imagen/grafo.png) no-repeat;
background-position:center left;
padding-top:8px;
padding-left:5px;
padding-bottom:3px;
margin-bottom:10px;
border-width:1px;
border-style:solid;
border-color:#b4b4b4;
}
#vergrafo:hover{
background: #e6e6fa url(../imagen/grafo.png) no-repeat;
background-position:center left;
}
#vergrafo a{
color:#659b62;
margin-right:5px;
}
#vergrafo a:hover {
color:#000;
margin-right:5px;
}

#id_fecha_inicio,#id_fecha_final {
width:300px;
}
#id_departamento, #id_municipio, #id_comunidad, #id_entrevistado{
width:308px;
}
#boton{
margin-top:10px;
width:150px;
}
.izquierda {
float:left;
}
.derecha {
float:right;
}

.imagenesgrafo{
width:680px;
min-height:300px;
max-height:510px;
margin-bottom:10px;
}

.imagenesgrafo img{
float:left;
}

.titulografo{
width:650px;
height:25px;
border-width:1px;
border-style:solid;
border-color:#b4b4b4;
color:#328932;
margin-top:20px;
margin-bottom:20px;
background:#e8f5e6;
text-align:center;
}

/* Termina lo agregado por Byron */


#mensaje{
  border-width:1px;
  border-style:dashed;
  border-color:#80a384;
  border-left:none;
  border-right:none;
  background-color:#83ED65;
  background-image: url(../imagen/check.png);
  background-repeat: no-repeat;
  background-position:center left;
  padding:5px 5px 5px 195px;
}
