{% extends "base.html" %}
{%block extra_header%}

{%endblock%}
{%block content%}
    <br><br>
    <center><a href="/"><img src="{{STATIC_URL}}img/500.jpg"></a></center>
    <br>
    <br>
{%endblock%}
