<!doctype html>
<html>
  <head>
    <title>{% block title %}Sondeo de Sequia{% endblock %}</title>
    <link rel="stylesheet" href="/media/css/themes/default/default.css" type="text/css" media="screen" />
    <link href="/media/css/style.css" rel="stylesheet" />
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/media/css/nivo-slider.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.nivo.slider.js"></script> 

   <script type="text/javascript">
     $(window).load(function() {
         $('#slider').nivoSlider();
     });
   </script>

{% block extraheader %}{% endblock %}
{% block extra_js %}{% endblock %}
  </head>
<body>
<div class="container">  <!-- empieza la clase container -->

	<div id="header"> <!-- empieza el header -->
    <a href="/">
		<img src="/media/imagen/prueba.png" width=106 height=78 alt="gpae"/>  <p class="mover">Sondeo sobre impacto de la sequia en Nicaragua</p></a>
	</div> <!-- termina el header --> 


<br>
{% block menu %}
<div class="navbar">
  <div class="navbar-inner">    
    <ul class="nav">
      <li class="active"><a href="/">Inicio</a></li>
      <li><a href="/index">Consultar</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#">
            Extras
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/general"><i class="icon-search"></i> Datos generales</a></li>
            <li class="divider"></li>
            <li><a href="/admin"><i class="icon-user"></i> Administración</a></li>
        </ul>
    </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block content %}

			<div class="slider-wrapper theme-default">
					<div id="slider" class="nivoSlider">
						<img src="/media/imagen/frijol.jpg" alt="frijol" title="#captionfrijol"/>
				
          	<img src="/media/imagen/maiz.jpg" alt="maiz" title="#captionmaiz"/>
				
          	<img src="/media/imagen/sorgo1.jpg" alt="sorgo" title="#captionsorgo"/>
      		</div>
          <div id="captionfrijol" class="nivo-html-caption">
                <strong>El Frijol</strong><br />Es una planta originaria de América que se cultiva en todo el mundo. Existen numerosas variedades y de ellas se consumen tanto las vainas verdes (judía verde o chauchas) como los granos secos.
          </div>
          <div id="captionmaiz" class="nivo-html-caption">
                <strong>El Maíz</strong><br />Es una gramínea anual originaria de las Américas introducida en Europa en el siglo XVI. Actualmente, es el cereal con mayor volumen de producción en el mundo, superando al trigo y el arroz.
          </div>
          <div id="captionsorgo" class="nivo-html-caption">
                <strong>El Sorgo</strong><br />Género botánico de unas 20 especies de gramíneas oriundas de las regiones tropicales y subtropicales de África oriental.
          </div>
   				
			</div>

{% endblock %}

        <div class="navbar">
          <div class="navbar-inner"> 
                  <ul>
                  <p class="piepagina"><a href="http://www.simas.org.ni">SIMAS 2009</a></p>
                  </ul>
          </div>
        </div>


</div> <!-- termina clase container -->

</body>
</html>
