{% extends "base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="/media/css/jquery-ui-1.7.2.custom.css" />
<script type="text/javascript" src="/media/js/jquery-ui-1.7.2.custom.min.js"></script>

<script type="text/javascript">
        $(document).ready(function() {

        $("#id_fecha_inicio").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNamesShort: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],yearRange:"2009:2015",changeMonth: true, changeYear: true});

        $("#id_fecha_final").datepicker({ dateFormat: 'yy-mm-dd', dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], monthNamesShort: ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"],yearRange:"2009:2015",changeMonth: true, changeYear: true});

        var departamento = document.getElementById("id_departamento");
        var municipio = document.getElementById("id_municipio");
        var comunidad= document.getElementById("id_comunidad");
        var entrevistado = document.getElementById("id_entrevistado");
        $("#id_departamento").change(function () {
            var index = departamento.options.selectedIndex;
            var id = departamento.options[index].value;
            $.getJSON("/ajax/municipio/" + id +"/",
            function(data){
                municipio.options.length = 0;
                comunidad.options.length = 0;
                municipio.options[0] = new Option("--------");
                for(i=0; i< data.length; i++){
                    municipio.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        $("#id_municipio").change(function () {
            var index = municipio.options.selectedIndex;
            var id = municipio.options[index].value;
            $.getJSON("/ajax/comunidad/" + id +"/",
            function(data){
                comunidad.options.length = 0;
                comunidad.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    comunidad.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
        $("#id_comunidad").change(function () {
            var index = comunidad.options.selectedIndex;
            var id = comunidad.options[index].value;
            $.getJSON("/ajax/entrevista/" + id +"/",
            function(data){
                entrevistado.options.length = 0;
                entrevistado.options[0] = new Option("---------");
                for(i=0; i< data.length; i++){
                    entrevistado.options[i+1] = new Option(data[i][1], data[i][0]);
                }
            });
        });
 });
</script>

{% endblock %}

{% block menu %} 
<div class="navbar">
  <div class="navbar-inner">    
    <ul class="nav">
    <li><a href="/index">Consultar</a></li>
    <li><a href="/perdida">Pérdidas</a></li>
    <li><a href="/disponibilidad">Disponibilidad</a></li>
    <li><a href="/nutricion">Nutrición</a></li>
    <li class="dropdown">
        <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#">
            Extras
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/descargar/xls"><i class="icon-folder-open"></i> hoja XLS</a></li>
            <li><a href="/descargar/word"><i class="icon-pencil"></i> Reporte</a></li>
            <li class="divider"></li>
            <li><a href="/admin"> <i class="icon-user"></i> Administración</a></li>
        </ul>
    </li>

</ul>
  </div>
</div>
{% endblock %}

{% block content %}

{% if mensaje%}
{% block bread%}
        <ul class="breadcrumb">
            {% if request.session.departamento%}
            <li>Departamento:<i>{{ request.session.departamento.nombre }}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.municipio%}
            <li>Municipio:<i> {{request.session.municipio.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.comunidad%}
            <li>Comunidad:<i> {{request.session.comunidad.nombre}}</i> <span class="divider">/</span></li>
            {%endif%}
            {% if request.session.entrevistado%}
            <li>Entrevistado: <i> {{ request.session.entrevistado.nombre }}</i></li>
            {%endif%}
        </ul>
{%endblock%}
{%endif%}

{%if mensaje%}
  <div class="alert alert-success">
    {{mensaje}}
  </div>
{%endif%}

<form class="form-horizontal" action"." method="POST">{% csrf_token %}

  <legend>Consultar</legend>
  <div class="control-group">
    <label class="control-label" for="inputFechaInicio">{{form.fecha_inicio.label}}</label>
    <div class="controls">
      <div class="datepicker">
           {{form.fecha_inicio}}
       </div> 
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputFechaFinal">{{form.fecha_final.label}}</label>
    <div class="controls">
       <div class="datepicker">
            {{form.fecha_final}}
       </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputDepartamento">{{form.departamento.label}}</label>
    <div class="controls">
      {{form.departamento}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputMunicipio">{{form.municipio.label}}</label>
    <div class="controls">
      {{form.municipio}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputComunidad">{{form.comunidad.label}}</label>
    <div class="controls">
      {{form.comunidad}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputEntrevistado">{{form.entrevistado.label}}</label>
    <div class="controls">
      {{form.entrevistado}}
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Consultar</button>
    </div>
  </div>

</form>


{% endblock %}


